<div class="container">
  <div class="appcontent">
    <div class="col-lg-10 col-md-9">
      <h1>New Firework Year</h1>
    </div>
    <%= render 'form', firework_year: @firework_year %>
  </div>
</div>
