<div class="container">
  <div class="appcontent">
    <div class="col-lg-10 col-md-9">
      <h1 class="page-header">New Firework</h1>
    </div>
    <%= render 'form', firework: @firework %>
  </div>
</div>
